@background_blue: rgb(239, 246, 250);
@primary_blue: rgb(115, 174, 227);
@dark_blue: rgb(48, 64, 98);
@light_blue: rgb(186, 210, 215);

body {
  background-color: @background_blue;
}
.city-header {
  display: flex;
  justify-content: space-evenly;
}

.city-option {
  text-transform: uppercase;
  &.active {
    color: @primary_blue;
  }
}
