@import './variables';

.icon-small {
  height: 35px;
  width: 35px;
  color: @primary_blue;
  @media @desktop {
    height: 50px;
    width: 50px;
  }
  @media @tablet {
    height: 50px;
    width: 50px;
  }
}

.icon-large {
  height: 75px;
  width: 75px;
  color: @primary_blue;
  @media @desktop {
    height: 100px;
    width: 100px;
  }
  @media @tablet {
    height: 100px;
    width: 100px;
  }
}

.fa-cloud path {
  fill: grey;
}

.fa-sun path {
  fill: orange;
}

.fa-spinner {
  width: 100%;
  -webkit-animation: fa-spin 1s infinite linear;
  animation: fa-spin 1s infinite linear;
}
